@font-face {
    font-family: nunito;
    src: url('/nothing2watch/assets/nunito.ttf');
}

html {
    background-color: rgb(0, 0, 0);
    font-family: nunito;
    scroll-behavior: smooth;
    color: white;
}

body, * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER/SEARCH BAR */
#nav {
    justify-content: center;
    margin: 1.5rem auto 0 auto;
    width: 60vw;
}

#header {
    background-color: black;
    display: flex;
    align-items: center;
}


#searchBox {
    background-color: rgb(42, 42, 42);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    text-align: center;
    border-color: rgb(107, 107, 107);
    border-style: solid;
    border-radius: 0.5rem;
    margin-left: 0.5rem;
    transition: 0.3s;
}

#searchBox:hover {
    background-color: rgb(107, 107, 107);
}

#searchButton {
    position: relative;
    width: 1.5rem;
    height: 2rem;
}

#movieName {
    width: 50vw;
    height: 2rem;
    padding-left: 1vw;
    border-radius: 1rem;
    background-color: rgb(42, 42, 42);
    border-style: solid;
    color: white;
}

#results h3 {
    font-size: 1rem;
    position: relative;
    background-color: rgb(42, 42, 42);
    margin: 0;
    position: relative;
    border-color: black;
    border-style: solid;
    transition: 0.5s;
    z-index: 1;
}

#results {
    position: absolute;
    width: 52vw;
    z-index: 100;
}

#results h3:hover {
    cursor: pointer;
    background-color: rgb(107, 107, 107);
    transition: 0.5s;
}

#results div img {
    position: absolute;
    z-index: 2;
    right: 0;
}

/* MOVIES DISPLAYED/HEADERS */
.cards {
    z-index: 100;
    margin: 2rem;
}

.headers {
    font-size: 2rem;
}

.display {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    justify-content: left;
    align-items: flex-start;
}

.add {
    background-image: radial-gradient(rgb(42, 42, 42), rgb(60, 60, 60), rgb(90, 90, 90));
    height: 15rem;
    width: 10rem;
    position: relative;
    border-radius: 1rem;
    font-size: 3rem;
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
    transition: 0.5s;
    opacity: 0.8;
    border-style: solid;
    border-color: rgb(37, 37, 37);
    border-width: 3px;
}

.add:hover {
    opacity: 0.6;
}

.movieDisplayed {
    height: 15rem;
    width: 10rem;
    position: relative;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    display: flex;
    cursor: pointer;
}

.movieDisplayed h3 {
    z-index: -10;
    font-size: 3rem;

}

.movieDisplayed:hover h3 {
    z-index: 10;
}

.movieDisplayed img {
    height: 15rem;
    width:10rem;
    border-radius: 1rem;
    z-index: 1;
    position: absolute;
    border-style: solid;
    border-color: rgb(37, 37, 37);
    border-width: 3px;
    transition: 0.5s;
}

.movieDisplayed:hover {
    img {
        opacity: 0.6;
    }
}

